<h1><%= @encounter.title %></h1>
<p><%= @encounter.description %></p>
	
<p><%= @path.title %></p>

<p><big><%= @success ? 'Success' : 'Failure' %></big></p>
<p><%= @success ? @path.success_text : @path.failure_text %></p>

<% if @success && !@path.awards.select {|a| a.display? }.blank?  %>
  <% unless @path.awards_gained.blank? %>
    <h4>You gained:</h4>
    <ul>
      <% if @path.develops_experience? && current_character.profile.get('experience', @path.challenge.tag).count == 0 %>
        <li><%= "+1 skill in #{@path.challenge.tag}" %></li>
      <% elsif @path.develops_experience? %>
        <li><%= "+1 experience in #{@path.challenge.tag}" %></li>
      <% end %>
	
	  <% @path.awards_gained.select {|a| a.display? }.each do |award| %>
        <li>
          <% if award.tagging == 'location' %>
            <%= "you moved to #{award.value.titleize}" %>
          <% else %>
            <%= "+#{award.value} #{award.tag.titleize}" %>
          <% end %>
        </li>
      <% end %>
    </ul>	
  <% end %>

  <% unless @path.awards_lost.blank? %>
    <h4>You lost:</h4>
    <ul>
	  <% @path.awards_lost.select {|a| a.display? }.each do |award| %>
        <li><%= "#{award.value} #{award.tag.titleize}" %></li>
      <% end %>
    </ul>	
  <% end %>
<% end %>

<p>	
  <%= link_to location_path, :class => 'copperplate' do %>	
    <span class='button continue'>Continue</span>
  <% end %>
</p>