<h1><%= @encounter.title %></h1>
<p><%= @encounter.description %></p>
	
<p><%= @path.text %></p>

<p><big><%= @success ? 'Success' : 'Failure' %></big></p>
<p><%= @success ? @path.success_text : @path.failure_text %></p>

<% if @success && !@path.awards.select {|a| a.display? }.blank?  %>
  <h4>You earned:</h4>
  <ul>
	<% @path.awards.select {|a| a.display? }.each do |award| %>
      <li><%= "+#{award.value} #{award.tag}" %></li>
	<% end %>
  </ul>	
<% end %>

<p><%= link_to 'Carry on', location_path %></p>