<h1>
  <%= image_tag 'placeholder75x75.png', :class => 'picture-frame tilt', :align => 'left' %> 
  <small>Your Lodgings:</small><br> <%= current_character.lodgings.name %>
</h1>
<p><%= simple_format current_character.lodgings.description %></p>

<ul class='horizontal'>
  <li class='half'>
    <ul class='plain'>
      <li>
        <h3>A Davenport of Mysterious Cases</h3>
        <p>You've staked ground in unsure footing, but appear to be making progress with the following plots...</p>
      </li>
      <% current_character.profile.find_tagging('plots').tags.each do |plot| %>
        <li>
          <label class='half'><%= plot._id.titleize %> </label>
          <progress max="15" value="<%= plot.value %>"></progress>
        </li>
      <% end %>

      <% if current_character.profile.find_tagging('research').tags.size > 0 %><li><h3>Studies</h3></li>
        <% current_character.profile.find_tagging('research').tags.each do |tome| %>
          <li>
            <label class='half'><%= tome._id.titleize %> </label>
            <progress max="50" value="<%= tome.value %>"></progress>
          </li>
        <% end %>
      <% end %>
    </ul>
  </li>
  <li class='half'>		
    <ul class='plain'>
      <li>
        <h3>Messages from people as well as Other Things</h3>
      </li>
      <% @messages.each do |message| %>
        <li>
          <strong><%= link_to message.title, message_path(message) %></strong><br />
          <small>From: <%= message.sender %></small>
        </li>
      <% end %>
    </ul>
  </li>
</ul>

<% unless lodgings_encounters.blank? %>
  <hr />
  <div>
    <hgroup>
      <h3>Personal Encounters</h3>
      <h5>Intimate obsessions and privy studies best pursued at leisure in the privacy of your lodgings</h5>
    </hgroup>
    <ul class='horizontal polaroids'>
      <% lodgings_encounters.each do |encounter| %>
        <li>
          <%= link_to encounter_path(encounter), :rel => 'nofollow' do %>
            <%= image_tag 'placeholder96x96.png' %>
            <%= simple_format word_wrap(encounter.title, :line_width => 15) %>
          <% end %>
        </li>
      <% end %>
    </ul>	
  </div>
<% end %>