<h1>A <%= @monster.name%> appears!</h1>
<p><%= @monster.description %></p>

<p>You must choose how to deal with the threat before continuing.</p>

<ul>
  <li>
	<br /><big>Fight!</big><br />
    <%= link_to raw("Fight the monster with <strong>conflict (#{current_character.profile.get('skills', 'conflict').value})</strong>"), monster_path('fight'), :rel => 'nofollow' %>
  </li>
  <li>
	<br /><big>Escape!</big><br />	
    <%= link_to raw("Escape the monster with <strong>adventure (#{current_character.profile.get('skills', 'adventure').value})</strong>"), monster_path('escape'), :rel => 'nofollow' %>
  </li>
  <li>
	<br /><big>Hide!</big><br />
    <%= link_to raw("Hide from the monster with <strong>clandestinity (#{current_character.profile.get('skills', 'clandestinity').value})</strong>"),  monster_path('stealth'), :rel => 'nofollow' %>
  </li>
  <li>
	<br /><big>Sorcery!</big><br />
    <%= link_to raw("Overpower the monster with the lore of <strong>sorcery (#{current_character.profile.get('skills', 'sorcery').value})</strong>"), monster_path('magic'), :rel => 'nofollow' %>
  </li>
  <li>
	<br /><big>Confront!</big><br />
    <%= link_to raw("Outmaneuver the monster by using your <strong>clues (#{current_character.clues})</strong>"), monster_path('confront'), :rel => 'nofollow' %>
  </li>
</ul>