<h1>
  <%= image_tag 'placeholder75x75.png', :class => 'picture-frame tilt', :align => 'left' %> 
  A <%= @monster.name%> appears!
</h1>
<p><%= @monster.description %></p>
<p>You must choose how to deal with the threat before continuing.</p>
<br />
<hr />
<ul class='horizontal'>
  <li class='quarter'>
    <%= link_to raw('Fight!'), (is_taking_passage? ? location_monster_path(params[:location_id], 'fight') : monster_path('fight')), :rel => 'nofollow', :class => 'button' %>
	<p>Fight the monster with <strong>conflict (<%= current_character.profile.get('skills', 'conflict').value %>)</strong></p>
  </li>
  <li class='quarter'>
    <%= link_to raw('Escape!'), (is_taking_passage? ? location_monster_path(params[:location_id], 'escape') : monster_path('escape')), :rel => 'nofollow', :class => 'button' %>
    <p>Escape the monster with <strong>adventure (<%= current_character.profile.get('skills', 'adventure').value %>)</strong></p>
  </li>
  <li class='quarter'>
    <%= link_to raw('Hide!'),  (is_taking_passage? ? location_monster_path(params[:location_id], 'stealth') : monster_path('stealth')), :rel => 'nofollow', :class => 'button' %>
	<p>Hide from the monster with <strong>clandestinity (<%= current_character.profile.get('skills', 'clandestinity').value %>)</strong></p>
  </li>
  <li class='quarter'>
    <%= link_to raw('Magick!'), (is_taking_passage? ? location_monster_path(params[:location_id], 'magic') : monster_path('magic')), :rel => 'nofollow', :class => 'button' %>
    <p>Overpower the monster with the lore of <strong>sorcery (<%= current_character.profile.get('skills', 'sorcery').value %>)</strong></p>
  </li>
  <li>
    <p>
      <%= link_to raw('Confront!'), (is_taking_passage? ? location_monster_path(params[:location_id], 'confront') : monster_path('confront')), :rel => 'nofollow', :class => 'button' %>
      Outmaneuver the monster by using your <strong>clues (<%= current_character.clues %>)</strong>
    </p>
  </li>
</ul>