<section>
  <div>
    <h1>  
      <span class='pull-left'><%= image_tag 'placeholder300x300.png', :width => 128, :height => 96 %>&nbsp;</span>  
      <small>You encountered <%= articleize(@monster.name).downcase %>:</small><br /> <%= @monster.name %>!
    </h1> 
    <br /><br /><br />
  </div>
</section>

<section>
  <% if @success %>		
    <div class='alert-success well'>      
      <big class="label label-success">Success!</big>
      <br /><br />
      <p class='lead'><%= monster_strategy_success(@monster.name) %></p>
      <% if is_taking_passage? && !demised? %><p>With no inconsiderable danger, you arrived at your destination.</p><% end %>
    </div>
  <% else %>
    <div class='alert-error well'>  	
      <big class="label label-important">Failure!</big>    
      <br /><br />
      <p class='lead'><%= monster_strategy_failure(@monster.name) %></p>

      <ul class="unstyled">
        <% @monster.penalties.each do |penalty| %>	
          <li><i class='icon-fire'></i> <span class="label label-danger"><%= "+#{penalty.value} #{penalty.tag.titleize.downcase}" %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= link_to_demise_or_location %></p>
</section>
