<h1><small>A Shrewd Gift for</small> <%= @character.formal_name %></h1>
<p>Select just the right article from your inventory to give your friend.</p>

<h4>Equipment</h4>
<% if current_character.profile.find_tagging('equipment').tags.blank? %>
  <p>You don't own any equipment which you can give your friend.</p>
<% else %>
  <ul>
    <% current_character.profile.find_tagging('equipment').tags.each do |tag| %>
      <li>
        <%= tag._id.titleize %><br />
        <%= link_to '[gift]', character_gift_path(params[:character_id], tag._id), :method => :post %>
      </li>
    <% end %>
  </ul>
<% end %>

<h4>Belongings</h4>
<% if current_character.profile.find_tagging('belongings').tags.blank? %>
  <p>You don't posses any belongings which you can give your friend.</p>
<% else %>
  <ul class='plain'>
    <% current_character.profile.find_tagging('belongings').tags.each do |tag| %>
      <li>
        <label class='half'><%= tag.value %> <%= tag._id.titleize  %></label>
        <%= link_to 'Give', character_gift_path(params[:character_id], tag._id), :method => :post, :class => 'button' %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to 'Nevermind', character_path(@character), :class => 'button cancel' %></p>