<h1><%= @encounter.title %></h1>
<p><%= @encounter.description %></p>
	
<% @encounter.paths.each do |path| %>
  <%= link_to encounter_path_path(@encounter, path) do %>
    <p><strong><%= path.title %></strong><p>
    <p><%= truncate(path.text, :length => 50) %></p>
  <% end %>  
<% end %>

<br />
<p><%= link_to 'Perhaps another time', location_path %></p>