<section>
  <div>
    <h1>    
      <span class='pull-left'><%= image_tag 'placeholder300x300.png', :width => 96, :height => 64 %>&nbsp;</span>
      <span><%= @encounter.title %></span>
    </h1>    
    <p><%= simple_format @encounter.description %></p>
    <br />
  </div>
</section>
<hr />
<section>
  <% @encounter.paths.each do |path| %>
    <blockquote>
      <% if path.available_for?(current_character) %>
        <p><%= path.text %></p>
        <br />
        <%= link_to encounter_path_path(@encounter, path), :class => 'btn btn-info input-large', :data => { 'clue-cost' => 1 } do %>
          <%= path.title %> <i class='icon-play'></i>
        <% end %>
      <% else %>
        <p>Requires: <%= raw path.requirement_display(true).titleize.split(", ").map{ |t| "<span class='label label-important'>#{t}</span>" }.join(" ") %></p>
        <br  >
        <%= link_to path.title, 'javascript:void(0)', :class => 'btn btn-info input-large disabled' %>
      <% end %>
    </blockquote>	
    <hr />
  <% end %>
  <blockquote>
    <p>Perhaps another time</p>
    <br />
    <%= link_to location_path, :class => 'btn btn-default input-large' do %>
      Nevermind <i class='icon-backward'></i>
    <% end %>
  </blockquote>
  <% unless params[:id] == 'homecoming' %>	
  <% end %>	
</section>	