<section class='row'>
  <div class="span7">	
    <h1>    
      <span class='pull-left'><%= image_tag 'placeholder300x300.png', :width => 64, :height => 64 %>&nbsp;</span>
      <span><%= @character.formal_name %></span>
    </h1>
    <p>Case # <strong><%= @character.user_id %></strong> (share with friends)</p>
    <p>Currently at: <strong><%= @character.location.value.titleize %></strong></p>
  </div>	

  <div class="span5">	
    <div class='well well-condensed'>
      <h3>Pathology</h3>
      <dl class="dl-horizontal">
        <% @character.profile.find_tagging('pathology').tags.each do |tag| %>
          <dt><%= tag._id.titleize  %></dt> 
          <dd>
			<div class="progress progress-labeled progress-<%= tag.count < 10 ? 'warning' : 'danger' %>">
			  <div class="bar" style="width: <%= [((tag.value.to_f / 20.0) * 100).to_i, 1].max %>%;"></div>
              <big><%= tag.value %></big>
			</div>
          </dd>
        <% end %>
      </dl>	
    </div>	
  </div>		
</section>

<section>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#skills" data-toggle="tab">Skills</a></li>
      <li><a href="#belongings" data-toggle="tab">Items</a></li>
      <li><a href="#equipment" data-toggle="tab">Gear</a></li>
      <li><a href="#knowledge" data-toggle="tab">Knowledge</a></li>
    </ul>
  </div>	

  <div class="tab-content">
    <div class="tab-pane active" id='skills'>
      <div class='well well-condensed'>		
        <h3>Skills</h3>
        <dl class="dl-horizontal">
          <% @character.profile.find_tagging('skills').tags.each do |tag| %>
            <dt><%= tag._id.titleize  %>: <big>0<%= tag.value %></big></dt> 
            <dd>
		      <div class="progress progress-labeled progress-success">
		  	    <div class="bar" style="width: <%= @character.skill_progress(tag._id) %>%;"></div>
              </div>
            </dd>
          <% end %>
        </dl>
      </div>	
    </div>	

    <div class="tab-pane" id='belongings'>
      <div class='well well-condensed'>		
        <h3>Belongings</h3>
        <ul class="thumbnails">
          <% @character.profile.find_tagging('belongings').tags.each do |tag| %>
            <li>
              <div class="thumbnail">                
                <h5><%= simple_format word_wrap("#{tag.value} #{tag._id.titleize}", :line_width => 15) %>	</h5>
                <%= image_tag 'placeholder64x64.png', :class => 'picture-frame' %>
              </div>
            </li>	
          <% end %>
        </ul>
      </div>	
    </div>

    <div class="tab-pane fade" id='equipment'>
      <div class='well well-condensed'>
        <h3>Gear</h3>
        <ul class="thumbnails">
          <% @character.profile.find_tagging('equipment').tags.each do |tag| %>
            <li>
              <div class="thumbnail">                
                <h5><%= simple_format word_wrap("#{tag.value} #{tag._id.titleize}", :line_width => 15) %>	</h5>
                <%= image_tag 'placeholder64x64.png', :class => 'picture-frame' %>

	            <% if equipment = @equipment.select{|e| e._id == tag._id}.first %>
	              <p><%= equipment.modifier_display %></p>
	              <% if @character.profile.trappings.location_of(equipment._id).blank? %>
	                <%= link_to 'Equip This', equipment_trapping_path(equipment._id, equipment.location), :method => :put, :class => 'btn btn-info btn-small' %>
                  <% else %>
                    <%= link_to 'Equipped', 'javascript:void(0)', :class => 'btn btn  btn-small disabled' %>
	              <% end %>
	            <% end %>
              </div>
            </li>	
          <% end %>
        </ul>
      </div>	
    </div>

    <div class="tab-pane fade" id='knowledge'>
        <dl class="dl-horizontal">
          <% @character.profile.find_tagging('knowledge').tags.each do |tag| %>
            <dt><%= tag._id.titleize  %>: </dt> 
            <dd><big>0<%= tag.value %></big></dd>
          <% end %>
        </dl>
    </div>	
  </div>
</section>