<p><big>
  <label><%= @character.gender == 'female' ? 'Ms' : 'Mr' %>. <strong><%= @character.name %></strong></big>, a curious <%= @character.gender == 'female' ? 'lady' : 'gentleman' %></label>
</p>

<h3>Moxie: <%= @character.clues %></h3>

<h4>Traits</h4>
<ul>
  <% @character.profile.find_tagging('traits').tags.each do |tag| %>
    <li><%= tag._id.titleize  %> <%= tag.value %></li>
  <% end %>
</ul>

<h4>Pathology</h4>
<ul>
  <% @character.profile.find_tagging('pathology').tags.each do |tag| %>
    <li><%= tag._id.titleize  %> <%= tag.value %></li>
  <% end %>
</ul>

<h4>Belongings</h4>
<ul>
  <% @character.profile.find_tagging('belongings').tags.each do |tag| %>
    <li><%= tag._id.titleize  %> <%= tag.value %></li>
  <% end %>
</ul>

<br /><br />
<em>
<h4>Cosmic Identifier:</h4>
<blockquote><%= @character.user_id %></blockquote>
<p>Give this to strangers who may need to find you in Cthulhu Casebook.</p>
</em>