<h1>
  <%= image_tag 'placeholder75x75.png', :class => 'picture-frame tilt', :align => 'left' %> 
  <%= @character.gender == 'female' ? 'Ms' : 'Mr' %>. <%= @character.name %>
</h1>
<h5><span class='normal'>Case #</span> <%= @character.user_id %></h5>

<br />

<ul class='horizontal'>
  <li class='half'>	
    <ul class='plain'>
      <li><h4>Skills</h4></li>
      <% @character.profile.find_tagging('skills').tags.each do |tag| %>
        <li>
          <%= tag._id.titleize %> <%= tag.value %>

          <progress max="100" value="<%= @character.skill_progress(tag._id) %>"></progress>
        </li>
      <% end %>
    </ul>
  </li>
  <li class='half'>
    <h4>Pathology</h4>
    <ul class='plain'>
      <% @character.profile.find_tagging('pathology').tags.each do |tag| %>
        <li><%= tag._id.titleize  %> <%= tag.value %></li>
      <% end %>
    </ul>
  </li>
</ul>

<ul class='horizontal'>
  <li class='third'>		
    <h4>Trappings</h4>
    <p>Equip items to gain their benefits</p>
    <div>
      <% if right_hand = @character.profile.trappings.get('right_hand')%> 
        <p>Right Hand: <%= right_hand.title %> <%= link_to '[unequip]', equipment_trapping_path(right_hand._id, 'right_hand'), :method => :delete %></p>
      <% else %>
        <p>Right Hand: empty</p>
      <% end %>

      <% if left_hand = @character.profile.trappings.get('left_hand')%> 
        <p>Left Hand: <%= left_hand.title %> <%= link_to '[unequip]', equipment_trapping_path(left_hand._id, 'left_hand'), :method => :delete %></p>
      <% else %>
        <p>Left Hand: empty</p>
      <% end %>
    </div>
  </li>
  <li class='two-thirds'>
    <h4>Equipment</h4>
    <% if @character.profile.find_tagging('equipment').tags.blank? %>
      <p>You don't own any equipment. You can purchase items from various merchants and discover them during your investigations.</p>
    <% else %>
      <ul class='plain'>
        <% @character.profile.find_tagging('equipment').tags.each do |tag| %>
          <li>
            <%= tag._id.titleize %><br />
            <% if equipment = @equipment.select{|e| e._id == tag._id}.first %>
              <em><%= equipment.modifier_display %></em>
              <% if @character.profile.trappings.location_of(equipment._id).blank? %>
                <%= link_to '[equip]', equipment_trapping_path(equipment._id, equipment.location), :method => :put %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </li>
</ul>

<h4>Belongings</h4>
<ul class='horizontal'>
  <% @character.profile.find_tagging('belongings').tags.each do |tag| %>
    <li class='badge'>
      <%= image_tag 'placeholder64x64.png', :class => 'picture-frame' %>
      <big><%= simple_format word_wrap("#{tag.value} #{tag._id.titleize}", :line_width => 15) %></big>
    </li>
  <% end %>
</ul>