<h1><%= @location.long_name %></h1>
<p><%= @location.text %></p>

<% @encounters.each do |encounter| %>
  <% if encounter.available_for?(current_character) %>
    <%= link_to encounter_path(encounter), :rel => 'nofollow' do %>
      <p><strong><%= encounter.title %></strong><p>
      <p><%= truncate(encounter.description, :length => 100) %></p>
      <p><%= encounter.requirement_display %></p>
    <% end %>
  <% end %>
<% end %>

<% unless @friends.blank? %>
  <h3>Nearby Friends</h3>
  <p>Some of your trusted friends have also come to <%= @location.short_name %> to investigate</p>
  <ul>
	<% @friends.each do |friend| %>
      <li><%= friend.name %></li>
    <% end %>
  </ul>	
<% end %>