<h1>
  <%= image_tag 'placeholder75x75.png', :class => 'picture-frame tilt', :align => 'left' %> 
  <%= @location.long_name %>
</h1>
<p><%= @location.text %><br />&nbsp;</p>

<% unless plot_encounters.blank? %>
  <hr />
  <div>
    <hgroup>
      <h3>Plot Encounters</h3>
      <h5>Mysteries branching like a weald above the circumstances of your soul; explore them through mazy boughs that intrigue to the vanishing point yet promise no retracing steps.</h5>
    </hgroup>
    <ul class='horizontal polaroids'>
      <% plot_encounters.each do |encounter| %>
        <li>
          <%= link_to encounter_path(encounter), :rel => 'nofollow' do %>
            <%= image_tag 'placeholder96x96.png' %>
            <%= simple_format word_wrap(encounter.title, :line_width => 15) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% unless fixed_encounters.blank? %>
  <hr />
  <div>
    <hgroup>
      <h3>Fixed Encounters</h3>
      <h5>Sisyphean concerns which you may pursue with the guarantee of near-limitless second-chances.</h5>
    </hgroup>
    <ul class='horizontal polaroids'>
      <% fixed_encounters.each do |encounter| %>
        <li>
          <%= link_to encounter_path(encounter), :rel => 'nofollow' do %>
            <%= image_tag 'placeholder96x96.png' %>
            <%= simple_format word_wrap(encounter.title, :line_width => 15) %>
          <% end %>
        </li>
      <% end %>
    </ul>	
  </div>
<% end %>







<% unless @friends.blank? %>
  <h3>Nearby Friends</h3>
  <p>Some of your trusted friends have also come to <%= @location.short_name %> to investigate</p>
  <ul>
	<% @friends.each do |friend| %>
      <li>
        <%= link_to friend.name, "characters/#{friend._id}" %>&nbsp;&nbsp;&nbsp;
        <% if @conferences && @conferences.map {|c| c.character_ids }.flatten.include?(friend._id) %>
          <em>recently conferred</em>
        <% else %>
          <%= link_to 'confer with them to gain a clue', character_conferences_path(friend._id), 'rel' => 'nofollow' %>
        <% end %>
      </li>
    <% end %>
  </ul>	
<% end %>