<div id='footer'>
  <hr />
  <ul class='horizontal'>	
    <li>
      <h5>Gameplay</h5>
      <ul class='plain'>
        <li><%= link_to 'The Basics', help_path(:basics) %></li>	
        <li><%= link_to 'Your Character', help_path(:character) %></li>
        <li><%= link_to 'Random Encounters', help_path(:random_encounters) %></li>	
        <li><%= link_to 'Story Encounters', help_path(:story_encounters) %></li>
        <li><%= link_to 'Traveling the Map', help_path(:map) %></li>	
        <li><%= link_to 'Wandering Monsters', help_path(:monsters) %></li>
        <li><%= link_to 'Keeping Up Friends', help_path(:friends) %></li>
      </ul>	
    </li>
    <li>
      <h5>Community</h5>
      <ul class='plain'>
        <li><%= link_to 'Fan Page', 'https://www.facebook.com/trailofsecrets' %></li>
        <li><%= link_to 'yog-sothoth.com', 'http://yog-sothoth.com' %></li>
      </ul>
    </li>
    <li>
      <h5>Bureaucracy</h5>
      <ul class='plain'>
        <li><%= link_to 'Terms of Service', '' %></li>
        <li><%= link_to 'Privacy Policy', '' %></li>
      </ul>
    </li>
    <li>
	  <br />
      <div>© 2012 <%= link_to 'Bellwether Inc.', 'https://www.facebook.com/BellwetherInc' %></div>
      <div>Cthulhu Casebook is in PRE-ALPHA</div>
      <div>Release: v0.0.1</div>
    </li>

  </ul>

	
</div>