<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	
    <span id="loader" class='hidden'>
      <% 8.times { |x| %><span class="b<%= x+1 %>"></span><%  } %>
    </span>	
	
    <div class="container">
      <%= link_to root_path, :class => 'brand' do %>
        Cthulhu Casebook<br />
        <small>Trail of Secrets</small>
      <% end %>

      <% if has_character? %>
        <p class='pull-right badge badge-success'>
          <i class='icon-search'></i> <span id='clue-counter'><%= pluralize(current_character.clues, 'clue') %></span>
        </p>
      
        <ul class="nav">
          <li class='<%= params[:action] == 'edit' ? 'active' : '' %>'><%= link_to 'Profile', edit_character_path %></li>
          <li class='<%= params[:controller] == 'encounters' || (params[:controller] == 'locations' && params[:action] == 'show') ? 'active' : '' %>'><%= link_to 'Encounters', location_path %></li>
          <li class='<%= params[:controller] == 'locations' && params[:action] == 'index' ? 'active' : '' %>'><%= link_to 'Map', locations_path %></li>
          <li class='<%= params[:controller] == 'messages' ? 'active' : '' %>'>
            <% if current_character.messages_count > 0 %>
              <%= link_to "Lodgings (#{current_character.messages_count})", messages_path %>
            <% else %>
              <%= link_to 'Lodgings', messages_path %>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>