<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Cthulhu Casebook: Trail of Secrets - a web-based, narrative adventure game">

    <title>Cthulhu Casebook: Trail of Secrets</title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="cleartype" content="on">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>	
    <%= render :partial => 'layouts/header' %>
    <div id='main' data-pjax-container class="container">
      <%= yield %>
    </div>
    <div class="container">
      <%= render :partial => 'layouts/footer' %>
    </div>	
    <div id="fb-root"></div>
    <%= javascript_include_tag "application" %>
  </body>
</html>